<span class="table-of-contents-list">목차 </span>
<ul class="table-of-contents-list">
    <li><a href="./machinelearning-bank-marketing">Machine Learning - Project2 - Bank marketing 정기예금 가입여부 예측하기 </a></li>    
    <li><a href="./deeplearning-bert">Deep Learning - Project4 - BERT </a></li>
    <li><a href="./deeplearning-summary">Deep Learning - 핵심 개념 & 용어 </a></li>










<!-- 
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
  -->
    
</ul>