<span class="table-of-contents-list">목차 </span>
<ul class="table-of-contents-list">
    <li><a href="./bank-marketing">Bank marketing 정기예금 가입여부 예측 </a></li>    
    <li><a href="./versatility">NLP - 딥러닝 모델의 범용적 활용가능성 분석 </a></li>
    <li><a href="./deeplearning-summary">Deep Learning - 핵심 개념 & 용어 </a></li>
    <li><a href="./machinelearning-linearregression">연어의 회귀본능이 아닌 선형회귀에 대해 알아보자 </a></li>
    <li><a href="./roccurve">ROC curve에 대해 알아보자 </a></li>
    <li><a href="./bert-sentiment-keyword">사용자 리뷰 핵심어 추출 및 감성분석 </a></li>
    <li><a href="./text-ads-filtering">Text 데이터 광고 필터링을 위한 분류 모델 구축 </a></li>
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li> -->
    <!-- <li><a href="./proposal">코스레스토랑에 보내는 제안서 </a></li>     -->









<!-- 
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
    <li><a href="./test">시험용 포스팅입니다 - 출력되어라</a></li>
  -->
    
</ul>