<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-fundemental" role="menuitem"><a href="{{site.baseurl}}fundemental/">Fundemental</a></li>
    <li class="nav-softwareengineering" role="menuitem"><a href="{{site.baseurl}}tag/softwareengineering/">Software Engineering</a></li>
    <li class="nav-ai" role="menuitem"><a href="{{site.baseurl}}tag/ai/">AI</a></li>
    <li class="nav-til" role="menuitem"><a href="{{site.baseurl}}tag/til/">TIL</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>